@import "atropos/scss";

$containerWidth: 470px;
$containerIllustrationWidth: 541px;
$gapWidth: -1 * (($containerIllustrationWidth - $containerWidth)/ 2);

$containerHeight: 440px;
$containerIllustrationHeight: 606px;
$gapHeight: (-1 * (($containerIllustrationHeight - $containerHeight)/ 2)) + 45;

html {
  height: 100%;
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url("../imgs/polaroid.svg");
    background-size: $containerIllustrationWidth $containerIllustrationHeight;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #575398;
    .my-atropos {
      width: $containerWidth;
      height: $containerHeight;
      margin-top: -100px;
      border-radius: 10px;
      .atropos-content-container {
        height: 100%;
        position: relative;
        [data-atropos-offset] {
          position: absolute;
          width: $containerIllustrationWidth;
          height: $containerIllustrationHeight;
          height: 606px;
          left: $gapWidth;
          top: $gapHeight;
        }
      }
    }
  }
}
