@import "../../node_modules/@mdi/font/css/materialdesignicons.min.css";
@import "./override-colors.scss";
@import "bulma/bulma.sass";

body {
  margin: 0;
  padding: 20px 0 20px 0;
  background-image: url("../assets/images/restaurant_icons.png");
}
.main-container {
  background-color: rgba(255, 255, 255, 0.74);
  max-width: 800px;
  padding: 0 20px 50px 20px;
  margin: 20px auto;
  border-radius: 20px;
  .banner-container {
    img {
      display: block;
      max-width: 400px;
      margin: 0 auto;
    }
  }
}
