<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TinyColor</title>
</head>
  <body>
    <div>
      <h1>TinyColor.js</h1>
      <h2>
        a small, fast library for color manipulation and conversion in JavaScript.
      </h2>
      <div class="custom-color-picker">
        <input type="color" class="color-picker">
        <span class="tool-tip">
          Elíge un color
        </span>
      </div>
    </div>
    <h3>Tríada</h3>
    <div class="colors-container triad-container"></div>
    <h3>Tétrada</h3>
    <div class="colors-container tetrad-container"></div>
    <h3>Complementarios</h3>
    <div class="colors-container complements-container"></div>
    <h3>Monocromático</h3>
    <div class="colors-container monochromatic-container"></div>
    <h3>Análogos</h3>
    <div class="colors-container analogous-container"></div>
  </body>
</html>