.img-locker {
  display: block;
  margin: 0 auto 40px auto;
  width: 100%;
}

.password-strength_container {
  height: 3px;
  background-color: rgb(220, 220, 220);
  margin-bottom: 20px;

  &:after {
    transition: all 0.3s ease-in-out;
    height: 100%;
    width: 100%;
    display: block;
    content: "";
    transform-origin: 0% 0%;
    transform: scaleX(0);
    background-color: rgb(36, 0, 0);
  }
  &.level-1 {
    &:after {
      transform: scaleX(0.33333);
      background-color: rgb(255, 28, 28);
    }
  }
  &.level-2 {
    &:after {
      transform: scaleX(0.66666);
      background-color: rgb(180, 196, 0);
    }
  }
  &.level-3 {
    &:after {
      transform: scaleX(1);
      background-color: rgb(1, 255, 18);
    }
  }
}

[data-contains] {
  &.crossed-out {
    text-decoration: line-through;
  }
}
