PORT = 8001 (the port where your backend server will listen the requests, for example 8000)
SECRET_TOKEN = asupersectrettoken (write a complex string that will be used to generate secure tokens)
MONGODB_URI = mongodb+srv://xxxxxxxxxxxxxxx (add the mongo db uri connection to your mongodb database without the database name part)
DEBUG="" (you can leave it empty)
DATABASE = test_my_movies (this is the name of the database that will be created inside mongodb for test purposes)