PORT = 5174 (add one to the port defined in .env.local, for example 5174)
API_PORT = 8001 (add one to the port defined in .env.local, for example 8001)
MONGODB_URI = mongodb+srv://xxxxxxx (add the mongo db uri connection to your mongodb database without the database name part)
DATABASE = "test_my_movies" (this is the name of the database that will be created inside mongodb for test purposes)