@import "flag-icons/sass/flag-icons.scss"
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;600;800&display=swap')

*
  box-sizing: border-box

body
  margin: 0
  font-family: 'Manrope', sans-serif
  background-color: #fafafa
h1
  margin: 0
  color: #fff
  text-align: center
  padding: 40px 0 80px 0
  font-size: 10vw
  font-size: clamp(30px, 10vw, 70px)
  font-weight: 800
  .font-light
    font-weight: 100
h2
  font-weight: 100
  color: #363636
  text-align: center
.header
  background: rgb(31,230,97)
  background: linear-gradient(21deg, rgba(31,230,97,1) 0%, rgba(57,203,233,1) 100%)

.main-container
  position: relative
  padding: 100px 10px 30px 10px
  .input-container
    position: absolute
    transform: translateX(-50%)
    top: -50px
    left: 50%
    max-width: 500px
    display: block
    width: 100%
    background-color: #fafafa
    padding: 20px 30px
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    label
      font-weight: 100
      display: block
      margin-bottom: 10px
    input
      display: block
      width: 100%
      box-sizing: border-box
      padding: 10px
      font-size: 2rem
      font-family: 'Manrope', sans-serif
      border: solid 1px #cfcfcf
      border-radius: 5px
      &:focus-visible
        outline-color: rgb(31,230,97)
.flags-container
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  .flag-btn
    text-decoration: none
    display: block
    margin: 0 5px 5px 5px
    &.selected
      .fi
        border: solid 5px #25e080
        box-shadow: 0 0 10px rgb(31,230,97)
    .fi
      box-shadow: 0 2px 3px rgba(0,0,0,.2)
      display: block
      width: 100px
      height: 100px
      overflow: hidden
      border-radius: 20px
      pointer-events: none
#amount-formatted
  text-align: center
  font-size: clamp(30px, 10vw, 70px)
  background: rgb(31,230,97)
  background: linear-gradient(21deg, rgba(31,230,97,1) 0%, rgba(57,203,233,1) 100%)
  max-width: 500px
  color: #fff
  border-radius: 40px
  box-shadow: 0 3px 5px rgba(0,0,0,.2) inset
  margin: 0 auto
