<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>jsPDF</title>
  </head>
  <body class="h-screen flex flex-col items-center bg-slate-50">
    <div class="block md:flex main-layout w-screen">
      <div class="flex justify-center items-center p-5">
        <form id="form-character-profile" class="w-full">
          <div class="mb-5">
            <label for="" class="block text-sky-900 font-bold">
              Nombre: 
            </label>
            <input type="text" name="name" placeholder="Nombre" value="Gandalf" class="block w-full p-3 border-2 border-sky-700 bg-sky-50 rounded" />
          </div>
          <div class="mb-5">
            <label for="" class="block text-sky-900 font-bold">
              Sobrenombre: 
            </label>
            <input type="text" name="surname" placeholder="Apellidos" value="El gris" class="block w-full p-3 border-2 border-sky-700 bg-sky-50 rounded" />
          </div>
          <div class="mb-5">
            <label for="" class="block text-sky-900 font-bold">Descripción: </label>
            <textarea
              name="description"
              cols="30"
              rows="5"
              class="block w-full p-3 border-2 border-sky-700 bg-sky-50 rounded"
              placeholder="Descripción"
            >Llevaba un sombrero azul alto y puntiagudo, una capa larga gris y una bufanda plateada. Tenía una larga barba blanca y cejas pobladas que sobresalían más allá del ala de su sombrero.</textarea>
          </div>
          <div class="mb-5">
            <label for="" class="block text-sky-900 font-bold">
              Tipo:
            </label>
            <select name="type" class="block w-full p-3 border-2 border-sky-700 bg-sky-50 rounded">
              <option
                value="wizard"
                data-image-url="imgs/Wizard_Idle.png"
              >Mago</option>
              <option
                value="bandit"
                data-image-url="imgs/Bandit_Idle_1.png"
              >Bandido</option>
              <option
                value="bear"
                data-image-url="imgs/Bear_Idle_1.png"
              >Oso</option>
              <option
                value="elf"
                data-image-url="imgs/HighElf_F_Idle_1.png"
              >Elfa</option>
              <option
                value="ent"
                data-image-url="imgs/Ent_Idle_1.png"
              >Ent</option>
              <option
                value="golem"
                data-image-url="imgs/Golem_Idle_1.png"
              >Golem</option>
            </select>
          </div>
          <div>
            <div>
              <label class="block text-sky-900 font-bold">Fuerza:</label>
              <input
                type="range"
                name="strength"
                value="40"
                class="w-full"
              
              /></div>
            <div>
              <label class="block text-sky-900 font-bold">Magia:</label>
              <input type="range" name="magic" class="w-full" value="90" />
            </div>
            <div>
              <label class="block text-sky-900 font-bold">Velocidad:</label>
              <input
                type="range"
                value="60"
                name="velocity"
                class="w-full"
              
              /></div>
          </div>
          <div id="error-message-container" class="hidden text-red-500 bg-red-100 p-4 rounded mt-3">
            *Error messages
          </div>
          <hr class="my-5">
          <div class="mt-3">
            <button type="button" class="bg-sky-500 text-white px-3 py-2 rounded preview-pdf-btn">Previsualizar PDF</button>
            <button type="submit" class="bg-sky-500 text-white px-3 py-2 rounded">Descargar PDF</button>
          </div>
        </form>
      </div>
      <div>
        <iframe
          id="frame"
          src=""
          frameborder="0"
        ></iframe>
      </div>
    </div>
  </body>
</html>