body {
  background-color: rgb(252, 255, 255);
}

#planner-container {
  width: 100%;
}

#gantt-container {
  width: 100%;
  overflow-x: hidden;
}

.toolbar {
  display: flex;
}

.gantt .grid .weekend-highlight {
  fill: #a4a3ff52;
}

.gantt.hide-labels .bar .bar-group text {
  visibility: hidden;
}

.gantt.hide-arrows .arrow {
  visibility: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: block;
}
