body {
  background-color: rgb(252, 255, 255);
}

#planner-container {
  width: 100%;
}

#gantt-container {
  width: 100%;
  overflow-x: hidden;
}

.toolbar {
  display: flex;
}

.gantt .grid .weekend-highlight {
  fill: #a4a3ff52;
}

.gantt.hide-labels .bar .bar-group text {
  visibility: hidden;
}

.gantt.hide-arrows .arrow {
  visibility: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: block;
}

#date-filters-input {
  flex: 1 1 auto;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  min-width: 0px;
  height: 100%;
  color: var(--sl-input-color);
  background: none;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  cursor: inherit;
  appearance: none;
  height: calc(
    var(--sl-input-height-medium) - var(--sl-input-border-width) * 2
  );
  padding: 0 var(--sl-input-spacing-medium);
  font-family: var(--sl-input-font-family);
  font-weight: var(--sl-input-font-weight);
  letter-spacing: var(--sl-input-letter-spacing);
  border: solid 1px #d4d4d8;
  border-radius: 5px;
}
