@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

:root {
  --sl-font-sans: "Open Sans", sans-serif;
  --primaryColor600: #8a8aff;
  --primaryColor500: rgb(153, 153, 245);
  --sl-color-primary-600: var(--primaryColor600);
  --sl-color-primary-500: var(--primaryColor500);
}

body {
  background-color: rgb(252, 255, 255);
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.header {
  background-color: var(--primaryColor600);
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
}

.header img {
  display: block;
  width: 50px;
}

.header .powered-by {
  align-self: flex-end;
  padding-bottom: 25px;
  font-size: 0.8rem;
}

.header .powered-by a {
  color: #fff;
}

#planner-container {
  width: 100%;
}

#gantt-container {
  width: 100%;
  overflow-x: hidden;
}

.toolbar {
  display: flex;
}

.toolbar > div {
  padding: 10px;
}

.gantt .grid .weekend-highlight {
  fill: var(--primaryColor600);
  opacity: 0.2;
  pointer-events: none;
}

.gantt.hide-labels .bar .bar-group text {
  visibility: hidden;
}

.gantt.hide-arrows .arrow {
  visibility: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: block;
}

#date-filters-input {
  flex: 1 1 auto;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  min-width: 0px;
  height: 100%;
  color: var(--sl-input-color);
  background: none;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  cursor: inherit;
  appearance: none;
  height: calc(
    var(--sl-input-height-medium) - var(--sl-input-border-width) * 2
  );
  padding: 0 var(--sl-input-spacing-medium);
  font-family: var(--sl-input-font-family);
  font-weight: var(--sl-input-font-weight);
  letter-spacing: var(--sl-input-letter-spacing);
  border: solid 1px #d4d4d8;
  border-radius: 5px;
}

sl-input {
  margin-bottom: 20px;
}

sl-range {
  margin-bottom: 20px;
}

.d-none {
  display: none;
}

.footer-dialog {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px 0 0 0;
}

.bar-wrapper.hidden {
  opacity: 0;
  visibility: hidden;
}

.bg-dropdown {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
