*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #dee2e6;
  background-color: #212529;
  font-family: "Hind", sans-serif;
}

.container {
  position: relative;
  line-height: 0;
}

.score {
  position: absolute;
  top: 10px;
  line-height: 1;
}

.score span {
  font-size: 3.25rem;
}

.current-score {
  left: 10px;
}

.high-score {
  text-align: right;
  right: 10px;
}

.trigger {
  appearance: none;
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 10px;
  border: 0;
  border-radius: 50%;
  color: inherit;
  background-color: #e64980;
  text-align: center;
  line-height: 80px;
  font-size: 1.25rem;
  text-transform: inherit;
  cursor: pointer;
  user-select: none;
  outline: none;
}

.left-trigger {
  left: 10px;
}

.right-trigger {
  right: 60px;
}

canvas {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.75);
}

.atribution {
  position: absolute;
  top: 50;
  left: 0;
  background-color: #303b47;
  border-bottom-right-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  transition: transform 0.3s ease;
  line-height: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  &.hidden {
    transform: translate3d(-100%, 0, 0);
    &::after {
      content: ">";
    }
  }
  &::after {
    cursor: pointer;
    padding: 15px;
    line-height: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
    content: "X";
    margin-left: 5px;
    position: absolute;
    right: -40px;
    top: 0;
    background: #e64980;
  }
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  a {
    color: #e64980;
  }
}

/* responsive scaling, because pinball tables are tall */
@media (min-height: 0px) {
  .container {
    transform: scale(0.25);
  }
}
@media (min-height: 400px) {
  .container {
    transform: scale(0.5);
  }
}
@media (min-height: 600px) {
  .container {
    transform: scale(0.75);
  }
}
@media (min-height: 800px) {
  .container {
    transform: scale(1);
  }
}
