body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #000;
}

#p5-container {
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 150px;
  height: auto;
  transform: translate(-50%, -50%);
}
