<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet"> 
  <title>PhaserJs - LibreriasJs</title>
  <style>
    body{
      background-color: #d7f3f6;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Comfortaa', cursive;
    }
    a{
      display: block;
      background-image: url('imgs/ui/buttonDefault.png');
      background-repeat: no-repeat;
      width: 190px;
      height: 49px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <a href="index.html">Play</a>
</body>
</html>