@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --mainColorValues: 0, 109, 173;
  --secondaryColorValues: 149, 31, 199;
  --mainColor: rgb(var(--mainColorValues));
  /* --mainColor: rgb(0, 109, 173); */
  /* --secondaryColor: rgb(var(--secondaryColorValues)); */
  --secondaryColor: rgb(51, 161, 225);
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  text-rendering: geometricPrecision;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  flex: 1;
}

h3 {
  text-align: center;
  margin: 0;
  color: var(--mainColor);
  padding-top: 20px;
  padding-bottom: 10px;
}

.header {
  color: #fff;
  padding: 10px 30px;
  font-weight: 700;
  background-color: var(--secondaryColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 3px var(--mainColor);
  .brand {
    display: flex;
    gap: 10px;
    align-items: flex-end;
  }
  .powered-by {
    font-size: 0.8rem;
    font-weight: 300;
  }
  .user-profile-wrapper {
    background-color: var(--mainColor);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    padding: 2px;
    position: relative;
    cursor: pointer;

    img {
      display: block;
      width: 100%;
      background-color: var(--mainColor);
      height: 100%;
      position: relative;
      border-radius: 50px;
      z-index: 2;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      animation-name: animation-gradient;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      /* background-color: red; */
      background: linear-gradient(to right, red, purple);
    }
  }
}

.products-slider {
  max-width: 1500px;
  padding: 20px;
  .product-card {
    /* border: solid 1px red; */
    position: relative;
    height: 400px;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    .thumbnail {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
    .product-info {
      position: absolute;
      bottom: 10px;
      left: 10px;
      width: calc(100% - 20px);
      background-color: rgba(var(--mainColorValues), 0.4);
      color: #fff;
      border-top: solid 1px rgba(255, 255, 255, 0.3);
      padding: 10px;
      backdrop-filter: blur(5px);
      border-radius: 20px;
      z-index: 2;
      h2 {
        font-size: 1em;
        margin: 0;
      }
      .price {
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        padding-top: 10px;
        font-size: 1.3rem;
        border-top: solid 1px rgba(255, 255, 255, 0.2);
        .add-to-cart {
          background-color: var(--mainColor);
          color: #fff;
          border: none;
          font-size: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
          line-height: 0px;
          height: 30px;
          width: 30px;
          cursor: pointer;
          &:hover {
            background-color: var(--secondaryColor);
          }
        }
      }
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.1;
      pointer-events: none;
    }
  }
  &::part(button-prev),
  &::part(button-next) {
    color: var(--mainColor);
  }
  &::part(bullet-active) {
    background-color: var(--mainColor);
  }
}

.history-dialog {
  &::part(panel) {
    background-color: transparent;
    box-shadow: none;
  }
  &::part(body) {
    overflow: hidden;
  }
  &::part(overlay) {
    background-color: #000;
    opacity: 0.9;
  }
  .history-dialog-swiper .history-dialog-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.footer {
  background-color: var(--mainColor);
  color: #fff;
  padding: 10px;
  font-size: 0.8rem;
  text-align: center;
}

@keyframes animation-gradient {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
