<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RoughViz</title>
</head>
  <body>
    <div>
      <div id="viz-bar-container" class="viz-container"></div>
      <div id="viz-donut-container" class="viz-container"></div>
      <div id="viz-scatter-container" class="viz-container"></div>
      <div id="viz-pie-container" class="viz-container"></div>
    </div>
  </body>
</html>