<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Descrubriendo librerias JS - CountUp</title>
</head>
  <body>
    <div class="end-container">Thanks for watching</div>
    <div class="count-up-wrapper top">
      <span id="count-up-container-top">0</span>
      <span class="additional-info">Stars in Github:</span>
    </div>
    <div class="count-up-wrapper bottom">
      <span class="additional-info">Used by:</span>
      <span id="count-up-container-bottom">0</span>
    </div>
  </body>
</html>