@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");

@import url("./styles/main-container.scss");
@import url("./styles/input-monster.scss");
@import url("./styles/tooltip.scss");

:root {
  --mainColor: #5b48d9;
  --secondaryColor: #04d9c4;
  --mainColorDarker: #16103c;
}

body {
  margin: 0;
  padding: 0;
  color: hsl(247, 71%, 93%);
  overflow-x: hidden;
  background-color: var(--mainColor);
  font-family: "Lora", serif;
  background-image: url("./assets/imgs/pattern.svg");
}

a {
  color: var(--secondaryColor);
}

b {
  color: var(--secondaryColor);
}

p.post-form-content {
  font-size: 0.8rem;
}
