$chessboardSize: 400px;
$chellWidth: ($chessboardSize / 3) - 40px;
$chellHeight: 50px;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ff7a2c;
  &.draggable--is-dragging {
    .perspective-wrapper {
      .chess-board {
        .chess-cell {
          .knight-piece {
            cursor: grabbing;
          }
        }
      }
    }
  }
}

.perspective-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .chess-board {
    margin: 0 auto;
    width: $chessboardSize;
    height: 70%;
    background-image: url("../imgs/board.svg");
    background-size: cover;
    background-position: center top;
    position: relative;
    .chess-cell {
      width: $chellWidth;
      height: $chellHeight;
      box-sizing: border-box;
      position: absolute;
      &:nth-child(1) {
        top: 0;
        left: 50%;
        margin-left: -$chellWidth/2;
      }
      &:nth-child(2) {
        top: $chellHeight * 1;
        left: $chellWidth;
      }
      &:nth-child(3) {
        top: $chellHeight * 1;
        left: ($chellWidth * 2) + 40px;
      }
      &:nth-child(4) {
        top: $chellHeight * 2;
        left: 20px;
      }
      &:nth-child(5) {
        top: $chellHeight * 2;
        left: 60px + $chellWidth;
      }
      &:nth-child(6) {
        top: $chellHeight * 2;
        left: 100px + $chellWidth + $chellWidth;
      }
      &:nth-child(7) {
        top: $chellHeight * 3;
        left: $chellWidth;
      }
      &:nth-child(8) {
        top: $chellHeight * 3;
        left: ($chellWidth * 2) + 40px;
      }
      &:nth-child(9) {
        top: $chellHeight * 4;
        left: 50%;
        margin-left: -$chellWidth/2;
      }
      &.draggable-dropzone--active.draggable-dropzone--occupied {
      }
      .knight-piece {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &:hover {
          cursor: grab;
        }
        img {
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -40px;
          width: 80px;
          height: 160px;
        }
        &:active {
          cursor: grabbing;
        }
        &.draggable-mirror {
          opacity: 0.5;
          cursor: grabbing !important;
        }
      }
    }
  }
}

.draggable-mirror {
  cursor: grabbing;
  // margin-left: -500px !important;
}
