<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AnimeJs</title>
  </head>
  <body>
    <div class="card">
      <div class="clip-photo">
        <img src="https://picsum.photos/800/500" alt="" />
      </div>
      <div class="card-content">
        <h1>Title</h1>
        <h2>Subtitle</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel,
          provident a eius tempora fugiat ratione distinctio veniam beatae
          obcaecati cum velit natus esse iste et consequatur omnis tempore alias
          error.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="clip-photo">
        <img src="https://picsum.photos/800/500" alt="" />
      </div>
      <div class="card-content">
        <h1>Title</h1>
        <h2>Subtitle</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel,
          provident a eius tempora fugiat ratione distinctio veniam beatae
          obcaecati cum velit natus esse iste et consequatur omnis tempore alias
          error.
        </p>
      </div>
    </div>
  </body>
</html>