<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AnimeJs</title>
  </head>
  <body>
    <div class="page-wrapper">
      <div class="expandable-card">
        <div cardContent>
          <div collapsedContent>
            <div class="expandable-card--left-col col">
              <div class="bg-card">
                <img src="imgs/1.jpeg" alt="">
              </div>
              <div class="expandable-card--profile-image">
                <span>JD</span>
                <img
                  src="https://randomuser.me/api/portraits/women/54.jpg"
                  alt=""
                />
              </div>
            </div>
            <div class="expandable-card--right-col col">
              <div class="expandable-card--title">
                Jane Doe
              </div>
            </div>
          </div>
          <div expandedContent>
            <div class="profile-data">
              <h1>Jane Doe</h1>
              <h2>03/03/1976</h2>
              <p>St. Louis, MO</p>
            </div>
          </div>
        </div>
      </div>
      <div class="expandable-card">
        <div cardContent>
          <div collapsedContent>
            <div class="expandable-card--left-col col">
              <div class="bg-card">
                <img src="imgs/2.jpeg" alt="">
              </div>
              <div class="expandable-card--profile-image profile-blue">
                <span>MB</span>
                <img
                  src="https://randomuser.me/api/portraits/men/54.jpg"
                  alt=""
                />
              </div>
            </div>
            <div class="expandable-card--right-col col">
              <div class="expandable-card--title">
                Mark Bale
              </div>
            </div>
          </div>
          <div expandedContent>
            <div class="profile-data">
              <h1>Mark Bale</h1>
              <h2>06/11/1984</h2>
              <p>St. Charles, CN</p>
            </div>
          </div>
        </div>
      </div>
      <div class="expandable-card">
        <div cardContent>
          <div collapsedContent>
            <div class="expandable-card--left-col col">
              <div class="bg-card">
                <img src="imgs/3.jpeg" alt="">
              </div>
              <div class="expandable-card--profile-image profile-pink">
                <span>RV</span>
                <img
                  src="https://randomuser.me/api/portraits/women/15.jpg"
                  alt=""
                />
              </div>
            </div>
            <div class="expandable-card--right-col col">
              <div class="expandable-card--title">
                Rose Vila
              </div>
            </div>
          </div>
          <div expandedContent>
            <div class="profile-data">
              <h1>Rose Vila</h1>
              <h2>12/02/1996</h2>
              <p>St. Roye, 87</p>
            </div>
          </div>
        </div>
      </div>
      <div class="expandable-card">
        <div cardContent>
          <div collapsedContent>
            <div class="expandable-card--left-col col">
              <div class="bg-card">
                <img src="imgs/4.jpeg" alt="">
              </div>
              <div class="expandable-card--profile-image profile-orange">
                <span>DS</span>
                <img
                  src="https://randomuser.me/api/portraits/women/76.jpg"
                  alt=""
                />
              </div>
            </div>
            <div class="expandable-card--right-col col">
              <div class="expandable-card--title">
                Dan Smith
              </div>
            </div>
          </div>
          <div expandedContent>
            <div class="profile-data">
              <h1>Dan Smith</h1>
              <h2>18/10/1984</h2>
              <p>St. West, 17</p>
            </div>
          </div>
        </div>
      </div>
      <div class="toggle-animation-wrapper">
        <label for="animation-switch">Activar / Desactivar animaciones</label>
        <input type="checkbox" id="animation-switch" class="animation-switch" />
      </div>
    </div>
  </body>
</html>