<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AnimeJs</title>
  </head>
  <body>
    <div class="page-wrapper">
      <div class="expandable-card">
        <div cardContent>
          <div collapsedContent>
            <div class="expandable-card--left-col col">
              <div class="expandable-card--profile-image">
                JD
              </div>
            </div>
            <div class="expandable-card--right-col col">
              <div class="expandable-card--title">
                Profile Information
              </div>
              <div class="expandable-card--sub-title">
                <p>Jane Doe</p>
                <p>03/03/1976</p>
                <p>St. Louis, MO</p>
              </div>
            </div>
          </div>
          <div expandedContent>
            <div class="mock-content">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque
                reiciendis qui fugit dignissimos obcaecati similique voluptas ab
                est doloribus? Sapiente voluptas tenetur, at perspiciatis
                maiores nemo libero! Eum, asperiores dolor?
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque
                reiciendis qui fugit dignissimos obcaecati similique voluptas ab
                est doloribus? Sapiente voluptas tenetur, at perspiciatis
                maiores nemo libero! Eum, asperiores dolor?
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque
                reiciendis qui fugit dignissimos obcaecati similique voluptas ab
                est doloribus? Sapiente voluptas tenetur, at perspiciatis
                maiores nemo libero! Eum, asperiores dolor?
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque
                reiciendis qui fugit dignissimos obcaecati similique voluptas ab
                est doloribus? Sapiente voluptas tenetur, at perspiciatis
                maiores nemo libero! Eum, asperiores dolor?
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque
                reiciendis qui fugit dignissimos obcaecati similique voluptas ab
                est doloribus? Sapiente voluptas tenetur, at perspiciatis
                maiores nemo libero! Eum, asperiores dolor?
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque
                reiciendis qui fugit dignissimos obcaecati similique voluptas ab
                est doloribus? Sapiente voluptas tenetur, at perspiciatis
                maiores nemo libero! Eum, asperiores dolor?
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque
                reiciendis qui fugit dignissimos obcaecati similique voluptas ab
                est doloribus? Sapiente voluptas tenetur, at perspiciatis
                maiores nemo libero! Eum, asperiores dolor?
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="expandable-card">
        <div cardContent>
          <div collapsedContent>
            <div class="expandable-card--left-col col">
              <div class="expandable-card--profile-image">
                JD
              </div>
            </div>
            <div class="expandable-card--right-col col">
              <div class="expandable-card--title">
                Profile Information
              </div>
              <div class="expandable-card--sub-title">
                <p>Jane Doe</p>
                <p>03/03/1976</p>
                <p>St. Louis, MO</p>
              </div>
            </div>
          </div>
          <div expandedContent>
            <div class="mock-content"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>