.spent-card-container{
  background-color: #ffffff;   
  color: white; 
  text-align: center;
  border-bottom: solid 1px rgb(229, 229, 229);
  border-top: solid 1px rgb(229, 229, 229);
  padding: 10px;
}

.date{
  margin: 10px 0 0 0;
}

.subject{
  font-weight: 100;
  font-size: 1.4rem;
  margin: 10px 0 10px 0;
}

.amount{
  font-size: 2rem;
  margin: 0 0 20px 0;
}

.wrapper{
  background-color: var(--main-color);
  padding: 10px;
  border-radius: 5px;
}

.btn{
  background-color: #ffffff;
  color: var(--main-color);
}