@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  text-align: center;
  font-weight: 400;
  padding: 40px;
}

.custom-color-picker {
  border: solid 1px #000;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  // background-color: #bada55;
  cursor: pointer;
  position: relative;
  display: block;
  margin: 80px auto 0 auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  .color-picker {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  &:hover {
    .tool-tip {
      animation: none;
      opacity: 0;
    }
  }
  .tool-tip {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    animation: shake 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    background-color: #fff;
    color: #000;
    font-weight: 400;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -8px;
      bottom: -5px;
      background-color: #fff;
      transform: rotate(45deg);
      width: 10px;
      height: 10px;
    }
  }
}

.colors-container {
  display: flex;
  .color-block {
    flex: 1;
    height: 200px;
    margin: 0 10px;
    display: block;
    border: solid 1px #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(0, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(0, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(0, -4px, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 4px, 0);
  }
}
