<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Strength</title>
  </head>
  <body>
    <form class="main-form">
      <img src="imgs/locker_svg.svg" alt="" class="img-locker" />
      <label for="username">Nombre de usuario</label>
      <input id="username" name="username" type="text" />
      <ul>
        <li>
          Debe tener entre 3 y 5 carácteres
        </li>
        <li>
          No puede tener mayúsculas
        </li>
        <li>
          Solo puede tener letras, números o los carácteres "_" y "-"
        </li>
      </ul>
      <div class="error-messages error-username">El nombre de usuario no tiene
        el formato adecuado</div>
      <label for="email">Email</label>
      <input id="email" name="email" type="text" />
      <ul>
        <li>
          Debe tener un formato de email válido
        </li>
      </ul>
      <div class="error-messages error-email">El correo electrónico no tiene el
        formato adecuado</div>
      <label for="password">Contraseña</label>
      <input id="password" name="password" type="password" />
      <label for="email">Fuerza de la contraseña</label>
      <div class="password-strength_container"></div>
      <ul>
        <li data-contains="8-chars">
          Al menos 8 carácteres.
        </li>
        <li data-contains="upper-lower-and-num">
          Debe contener al menos una letra en mayúscula, una en minúscula, y un
          número.
        </li>
        <li data-contains="special-chars">
          Puede contener carácteres especiales.
        </li>
      </ul>
      <div class="error-messages error-password">El password no tiene el formato
        válido</div>
      <div>
        <button type="submit" class="btn">ENVIAR</button>
      </div>
    </form>
  </body>
</html>