@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(183, 238, 255);
  color: rgb(10, 47, 58);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

input {
  margin-bottom: 40px;
}

.btn {
  background-color: rgb(31, 91, 109);
  color: #fff;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  border: none;
  margin-bottom: 5px;
}

h2 > span {
  display: block;
  font-size: 0.8rem;
}
