body {
  margin: 0;
  padding: 0;
  &.logged-in {
    .login-view {
      opacity: 0;
      visibility: hidden;
    }
  }
  &.logging {
    .login-view {
      .login-buttons-container {
        display: none;
      }
    }
    .loading-container {
      display: block;
    }
  }
  .login-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(92, 92, 92);
    .login-buttons-container {
      .btn {
        display: block;
        width: 100%;
        padding: 10px;
      }
    }
  }
  .loading-container {
    display: none;
  }
}
