@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;1,700&display=swap");

@import "./dots-animation.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
  color: rgb(42, 42, 42);
  background-image: url("../assets/images/bananas.jpg");
  box-sizing: border-box;
  &.logged-in {
    .login-view {
      opacity: 0;
      visibility: hidden;
    }
  }
  &.logging {
    .login-view {
      .login-buttons-container {
        display: none;
      }
    }
    .loading-container {
      display: block;
      font-size: 2.3rem;
    }
  }
  .login-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-image: url("../assets/images/bananas.jpg");
    .login-buttons-container {
      .btn {
        cursor: pointer;
        display: block;
        width: 100%;
        padding: 20px 20px 20px 60px;
        background-image: url("../../static/imgs/google-original.svg");
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: 10% center;
        background-color: #fffcef;
        border: none;
        margin-bottom: 20px;
        border-radius: 3px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        &.anonymous-log-in-btn {
          background-image: url("../../static/imgs/account.svg");
        }
      }
    }
  }
  .loading-container {
    display: none;
  }
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e3dbb6;
    padding: 12px 5px 0px 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    border-bottom: solid 3px #a9a078;
    & > :nth-child(1) {
      width: 200px;
      height: 95px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center bottom;
        display: block;
      }
    }
    & > :nth-child(2) {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        border-radius: 50%;
        overflow: hidden;
        background-color: #fff;
        width: 80px;
        border: solid 3px #fffbe9;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
        margin-right: 10px;
      }
      button {
        font-size: 3rem;
        background-color: #fffcef;
        letter-spacing: -17px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        overflow: hidden;
        border: none;
      }
    }
  }
  .novel-view {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    padding: 30px 30px;
    .description {
      background-color: white;
      padding: 40px;
      h1 {
        margin: 0px;
      }
    }
    .novel-container {
      .novel-part-container {
        position: relative;
        padding: 20px 30px;
        border-bottom: solid 1px #cdcdcd;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        background-image: url("../../static/imgs/lined_paper.png");
        font-size: 1.3rem;
        .delete-btn {
          position: absolute;
          top: 5px;
          right: 25px;
          font-size: 1.5rem;
          cursor: pointer;
          background-color: transparent;
          border: none;
          .delete-label {
            font-size: 0.8rem;
          }
        }
        .meta {
          text-align: right;
          font-size: 0.8rem;
        }
      }
    }
    .form-container {
      textarea {
        display: block;
        box-sizing: border-box;
        border: none;
        width: 100%;
        padding: 20px;
        font-family: "Space Mono", monospace;
        margin-bottom: 10px;
        font-size: 1rem;
        resize: none;
      }
      button[type="submit"] {
        display: block;
        width: 100%;
        background-color: #fffcef;
        border: none;
        border-radius: 5px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        font-size: 1.5rem;
        font-family: "Space Mono", monospace;
        cursor: pointer;
        padding: 15px 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    .login-view {
      display: block;
      padding: 20px;
      img {
        width: 100%;
      }
    }
  }
}
