.container{
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
}

.active{
  opacity: 1;
  visibility: visible;
}


.children-container{
  max-width: 500px;
  background-color: #fff;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .3);
}
