<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DayJs</title>
</head>
  <body>
    <div>
      <h1>Selecciona una fecha</h1>
      <input type="datetime-local" class="date-time__selector" />
    </div>
    <div class="actions-container">
      <div>
        <button class="btn btn-action" data-action="add" data-time-type="second" >Añadir un segudo</button>
        <button class="btn btn-action" data-action="add" data-time-type="minute" >Añadir un minuto</button>
        <button class="btn btn-action" data-action="add" data-time-type="hour" >Añadir una hora</button>
        <button class="btn btn-action" data-action="add" data-time-type="day" >Añadir un dia</button>
        <button class="btn btn-action" data-action="add" data-time-type="month" >Añadir un mes</button>
        <button class="btn btn-action" data-action="add" data-time-type="year" >Añadir un año</button>
      </div>
      <div>
        <button class="btn btn-action" data-action="subtract" data-time-type="second" >Restar un segudo</button>
        <button class="btn btn-action" data-action="subtract" data-time-type="minute" >Restar un minuto</button>
        <button class="btn btn-action" data-action="subtract" data-time-type="hour" >Restar una hora</button>
        <button class="btn btn-action" data-action="subtract" data-time-type="day" >Restar un dia</button>
        <button class="btn btn-action" data-action="subtract" data-time-type="month" >Restar un mes</button>
        <button class="btn btn-action" data-action="subtract" data-time-type="year" >Restar un año</button>
      </div>
      <div>
        <button class="btn btn-action" data-action="reset" data-time-type="second">Resetear segudos</button>
        <button class="btn btn-action" data-action="reset" data-time-type="minute">Resetear minutos</button>
        <button class="btn btn-action" data-action="reset" data-time-type="hour">Resetear hora</button>
        <button class="btn btn-action" data-action="reset" data-time-type="day">Resetear dia</button>
        <button class="btn btn-action" data-action="reset" data-time-type="month">Resetear mes</button>
        <button class="btn btn-action" data-action="reset" data-time-type="year">Resetear año</button>
      </div>
    </div>
    <div>
      <h2>
        Resultado formateado
        <span>(DD-MM-YYYY HH:mm:ss)</span>
      </h2>
      <div class="formatted-result-container"></div>
    </div>
    <div>
      <h2>Resultado JSON</h2>
      <div class="json-result-container"></div>
    </div>
    <div>
      <h2>Resultado UNIX</h2>
      <div class="unix-result-container"></div>
    </div>
  </body>
</html>