:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: #f7f7f7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.main-container {
  max-width: 1000px;
  margin: 0 auto;

  .header {
    background-color: #1c67a4;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 10px;
    color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .download-btn {
    background-color: #1c67a4;
    border: 1px solid #175587;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
    &:hover {
      background-color: #2a6798;
    }
  }

  pre {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    max-height: 400px;
    overflow-y: scroll;
    background-color: #313131;
    display: none;
    &.visible {
      display: block;
    }
  }

  .my-grid-container {
    height: 500px;
  }
}
