<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clipboard.js</title>
  </head>
  <body>
    <div class="chat-container">
      <div class="container-logo">
        <img src="logo_copy_u.png" alt="" class="logo-app" />
      </div>
      <div class="conversation-bubble l">
        <div class="wrapper-bubble">
          <span class="name">Mamá</span>
          <span class="content" id="john-content-1651743889218">Hola Anne, tengo
            tuppers recién hechos listos para entregar</span>
          <span class="time">11:45</span>
          <button
            class="copy-btn"
            data-clipboard-target="#john-content-1651743889218"
          >
            <span class="tooltip">Copied!</span>
          </button>
        </div>
      </div>
      <div class="conversation-bubble r">
        <div class="wrapper-bubble">
          <span class="name">Anne</span>
          <span class="content" id="anne-content-1651743963504">Recibido.</span>
          <span class="time">11:48</span>
          <button
            class="copy-btn"
            data-clipboard-target="#anne-content-1651743963504"
          >
            <span class="tooltip">Copied!</span>
          </button>
        </div>
      </div>
      <div class="conversation-bubble r">
        <div class="wrapper-bubble">
          <span class="name">Anne</span>
          <span class="content" id="anne-content-1651743963510">Voy a por los
            tuppers en 10min.</span>
          <span class="time">11:50</span>
          <button
            class="copy-btn"
            data-clipboard-target="#anne-content-1651743963510"
          >
            <span class="tooltip">Copied!</span>
          </button>
        </div>
      </div>
      <div class="conversation-bubble l">
        <div class="wrapper-bubble">
          <span class="name">Mamá</span>
          <span class="content" id="john-content-1651743889250">Genial. No
            tardes que se enfrían 🥶</span>
          <span class="time">11:55</span>
          <button
            class="copy-btn"
            data-clipboard-target="#john-content-1651743889250"
          >
            <span class="tooltip">Copied!</span>
          </button>
        </div>
      </div>
      <div class="conversation-bubble r">
        <div class="wrapper-bubble">
          <span class="name">Anne</span>
          <span class="content" id="john-content-1651743889251">Voy en seguida
            mama, hasta ahora. Cambio y corto 😘</span>
          <span class="time">12:00</span>
          <button
            class="copy-btn"
            data-clipboard-target="#john-content-1651743889251"
          >
            <span class="tooltip">Copied!</span>
          </button>
        </div>
      </div>
      <div class="conversation-bubble l">
        <div class="wrapper-bubble">
          <span class="name">Mamá</span>
          <span class="content" id="john-content-1651743889280">Aquí te espero
            😘</span>
          <span class="time">12:03</span>
          <button
            class="copy-btn"
            data-clipboard-target="#john-content-1651743889280"
          >
            <span class="tooltip">Copied!</span>
          </button>
        </div>
      </div>
      <div class="chat-box__container">
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Escribe o copia algun mensaje anterior"
        ></textarea>
      </div>
    </div>
  </body>
</html>