<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clipboard.js</title>
  </head>
  <body>
    <div class="chat-container">
      <div class="conversation-bubble l">
        <span class="wrapper-bubble">
          <span class="content">Lorem ipsum dolor sit amet consectetur
            adipisicing elit.</span>
          <span class="time">11:45</span>
        </span>
      </div>
      <div class="conversation-bubble r">
        <span class="wrapper-bubble">
          <span class="content">Lorem ipsum.</span>
          <span class="time">11:48</span>
        </span>
      </div>
      <div class="conversation-bubble r">
        <span class="wrapper-bubble">
          <span class="content">Lorem ipsum. sakdjaksd</span>
          <span class="time">11:55</span>
        </span>
      </div>
      <div class="conversation-bubble l">
        <span class="wrapper-bubble">
          <span class="content">Lorem ipsum dolor.</span>
          <span class="time">11:58</span>
        </span>
      </div>
      <div class="conversation-bubble l">
        <span class="wrapper-bubble">
          <span class="content">Ok</span>
          <span class="time">12:03</span>
        </span>
      </div>
    </div>
  </body>
</html>