@import 'bulma/bulma.sass'

.video-cam
  position: fixed
  top: 0
  left: 0
  pointer-events: none
  visibility: hidden
  opacity: 0
#cam-canvas
  width: 100%
  height: auto
  display: block
  margin: 0 auto 20px auto
  &.d-none
    display: none
