body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  // height: 100%;
  // width: 100%;
  object-fit: contain;
}
