<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atropos</title>
</head>
  <body>
    <div class="atropos my-atropos">
      <div class="atropos-scale">
        <div class="atropos-rotate">
          <div class="atropos-inner">
            <div class="atropos-content-container">
              <img src="imgs/bg.svg" data-atropos-offset="0" />
              <img src="imgs/stars.svg" data-atropos-offset="7" />
              <img src="imgs/moon.svg" data-atropos-offset="6" />
              <img src="imgs/mountains.svg" data-atropos-offset="2" />
              <img src="imgs/clouds.svg" data-atropos-offset="5" />
              <img src="imgs/ground.svg" data-atropos-offset="0" />
              <img src="imgs/tree.svg" data-atropos-offset="1" />
              <img src="imgs/leafs.svg" data-atropos-offset="5" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>