html,
body {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(236, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
}

.zdog-container {
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}
