<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library title</title>
</head>
  <body>
    <div class="monster">
      <div class="eyes-container">
        <div class="eye eye-left">
          <div class="eye-pupille"></div>
        </div>
        <div class="eye eye-right">
          <div class="eye-pupille"></div>
        </div>
      </div>
      <div class="mouth-container">
        <div class="mouth">
          <div class="tongue"></div>
        </div>
      </div>
    </div>
  </body>
</html>