.table
  width: 100%
  border-spacing: 0
  border-radius: 10px
  overflow: hidden
  thead
    background-color: var(--main)
    color: white
    font-weight: 700
    tr
      th
        padding: 10px
  tbody
    tr
      background-color: #f7f7f7
      &:nth-child(odd)
        background-color: #ffffff
      td
        padding: 10px
