<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <title>HammerJs</title>
</head>
  <body>
    <div class="cards-container">
      <div class="card active-card">
        <img src="https://icongr.am/material/react.svg?size=128&color=2e2e2e" alt="" class="logo">
        <div class="actions-container">
          <img src="https://icongr.am/material/close.svg?size=100&color=a63636" alt="" class="heart-icon">
          <img src="https://icongr.am/material/cards-heart.svg?size=80&color=a63636" alt="" class="cross-icon">
        </div>
      </div>
    </div>
  </body>
</html>